[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
aiosqlite = "*"
python-dotenv = "*"
geopy = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.13"
